{% extends "base.html" %}

{% block body_block %}
<script>
    var counter = 0;
</script>
<h1>
    <form method="POST">
        <h1>Question 1 </h1>
        {% csrf_token %}
        {{question}}
        <input type="hidden" value={{ question.id }} name='id1'>
        {% for option in options %}
        {% if question.question_type == 'single' %}
        <input type='radio' name='option' value={{ option }}>{{ option }}
        {% else %}
        <input type="checkbox" name='option{{forloop.counter}}' value={{ option }}>
        {{option}}
        {% endif %}

        {% endfor %}
        <input type="submit" value="submit">
    </form>
</h1>
{% endblock %}